#my-HeaderContent
{
    background: #404D58;
}
.my-size-icon
{
    display: inline-block;
    height: 0px;
    text-decoration: none;
    color: black;
}
#my-HeaderId
{
    color: white;
    font-weight: lighter;
}
#my-ContentId
{
    margin-bottom: 50px;
}
#my-ImgId
{
    margin: 30px 15px 0px 15px;
    margin-bottom: 30px;
    padding-top: 13px;
    padding-left: 1px;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#my-ImgId:hover
{
    background: darkgrey;
    color: white;
}
.my-FooterContent
{
    display: inline-block;
    font-size: 30px;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    color: grey;
}
.my-FooterContent:hover
{
    text-decoration: none;
    color: white;
}