.my-ProductElement td:nth-child(2)
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#childDemo
{
    z-index: 1;
}
#childDemo div:first-child
{
    z-index: 3;
    background: white;
    width: 100%;
    height: 100%;
    transition: all linear 0.3s;
    padding-right: 10px;
}
#childDemo:hover > div:first-child
{
    background: #F1D7AB;
    width: 99%;
}
#childDemo:hover > div:last-child
{
    background: grey;
}
#childDemo div:last-child
{
    transition: all linear 0.3s;
    background: white;
    z-index: 2;
    width: 99%;
    height: 99%;
}


